@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.notifications,
.summary,
.engage,
.engage1,
.publish,
.listen,
.report {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  
}
.title{
  font-size: 25px;
  text-decoration: none;
  
  
}
.brand{
  padding-left: 10px;
  align-items: center;
  position: relative;
  display: inline-flex;
  filter: brightness(0.4);
}
.brandf{
  padding-left: 10px;
  padding-left: 10px;
  align-items: center;
  position: relative;
  display: inline-flex;
  filter: brightness(120%);
}

